---
---

<footer class="bg-white/10 backdrop-blur text-white py-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
        <p>&copy; 2024 JesusGomezDev. Open source shortener.</p>
        <a href="https://github.com/JesusGomezDev" target="_blank">
            <img src="/github.svg" alt="GitHub" class="h-12 w-12 p-2">
        </a>
    </div>
</footer>