---
---

<nav class="bg-[#0B101B] text-white py-4 justify-between">
    <a href="/" class="p-6 font-bold text-2xl bg-clip-text text-transparent bg-gradient-to-r from-[#144EE3] to-[#EB568E]">
        Cut My URL
    </a>
</nav>